# Database Configuration
DB_HOST=localhost
DB_NAME=StokFlow
DB_USER=root
DB_PASS=root

# JWT Configuration
JWT_SECRET=050a1a6619f68fc777e48bc914443bb3c2a613fb1fc2ceb1323c1ef44527c793
JWT_ALGO=HS256
JWT_EXP_SECONDS=3600
